* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: sans-serif;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.gridTables {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  font-size: 6rem;
  text-align: center;
  border: 1px solid #222;
}

.showEnd {
  content: "";
  position: fixed;
  opacity: 0.8;
  background: var(--black, #333);
  z-index: 1;
}
.showEnd ::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  background: #333;
  z-index: -1;
}

.gameMenu {
  position: absolute;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameMenu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  transition: border-bottom 1s;
}
.gameMenu ul li {
  margin-right: 0.5rem;
  transition: all 0.3s;
}
.gameMenu ul li a {
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid #222;
  border-radius: 25px;
  cursor: pointer;
}

.gameMenu ul li:hover {
  background: linear-gradient(#3367d8, #83bef5);
  color: #fff;
}
