* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #444;
  color: #fff;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: ;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #555;
}

nav ul li a:hover {
  background-color: #777;
}

.todo-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #555;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  width: calc(100% - 85px); /* 70% از عرض کلی - 15px حاشیه مورد نیاز */
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ff0000, #000000);
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem; /* فاصله بین دکمه‌ها */
  color: #fff;
}
button:hover {
  background: linear-gradient(to bottom, #ff0000, #000000);
  color: #fff;
}
